Vista/Connected Services/referenciaServicioWeb/esteMiWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mtOperaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Intereses" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Dias" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtOperacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtOperacionesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtOperacionesSoapIn">
    <wsdl:part name="parameters" element="tns:mtOperaciones" />
  </wsdl:message>
  <wsdl:message name="mtOperacionesSoapOut">
    <wsdl:part name="parameters" element="tns:mtOperacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="esteMiWebServicesSoap">
    <wsdl:operation name="mtOperaciones">
      <wsdl:input message="tns:mtOperacionesSoapIn" />
      <wsdl:output message="tns:mtOperacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="esteMiWebServicesSoap" type="tns:esteMiWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtOperaciones">
      <soap:operation soapAction="http://tempuri.org/mtOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="esteMiWebServicesSoap12" type="tns:esteMiWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtOperaciones">
      <soap12:operation soapAction="http://tempuri.org/mtOperaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="esteMiWebServices">
    <wsdl:port name="esteMiWebServicesSoap" binding="tns:esteMiWebServicesSoap">
      <soap:address location="http://localhost:54675/esteMiWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="esteMiWebServicesSoap12" binding="tns:esteMiWebServicesSoap12">
      <soap12:address location="http://localhost:54675/esteMiWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>